__pycache__/
*.py[cod]
.venv/
.env
dist/
build/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.build_venv/
nuitka-crash-report.xml
release/**/main.build/
release/**/main.onefile-build/
release/onefile/main.dist/
